<!-- app.component.html -->
<header>
  <nav class="navbar">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Task</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="tasks">My Task</a>
          <a class="dropdown-item" href="#">My Department Task</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Profile</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">My Organization</a>
          <a class="dropdown-item" href="#">Account</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="users/create">New user</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Connexion/Deconnexion</a></li>
    </ul>
  </nav>
</header>
<a routerLink="users">go to the users view</a>

<router-outlet></router-outlet>




